.Square-item{
    position: relative;
    text-align: center;
    margin: 10px;
    padding: 10px;
    float: left;
}

.Square-item .item{
    width: 100px;
    height: 100px;
    padding: 5px;
    margin: auto;
    background-color: #866b47;
    position: relative;
}

.Square-item .name{
    padding: 3px;
    margin: auto;
    background-color: #f1ebeb;
    color: black;
    position: relative;
    font-size: 14px;
}