.Square-item{
    position: relative;
}

.Square-item .item{
    width: 210px;
    height: 210px;
    padding: 5px;
    margin: auto;
    background-color: #866b47;
    position: relative;
}

.Square-item .name{
    padding: 3px;
    margin: auto;
    background-color: #f1ebeb;
    color: black;
    position: relative;
}